
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    About Us
                </h1>
                <p class="text-white link-nav"><a href="/Customer/Home">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/Customer/About"> About Us</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End reviews Area -->
<!-- Start callaction Area -->
<section class="callaction-area relative section-gap mt-5">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1 class="text-white">Breif Introduction</h1>
                <p>
                    This Application will help the common people under the jurisdiction of a municipal corporation to register their
                    grievances about day to day problems in their ward through a web application. It will provide a common man
                    to deliver his complaints and problems to municipal authority as well as let the municipal authorities to address
                    the problem in a short period of time. This application provides an interface to register one’s complained and
                    follow it up. It provides a camera module which help clicking up a picture of any problem that people are facing
                    and upload its image along with the complaint.
                </p>
                <a class="callaction-btn text-uppercase" href="/Customer/CustomerSignUp">Register Today</a>
            </div>
        </div>
    </div>
</section>
<!-- End callaction Area -->
<section class="reviews-area section-gap" id="review">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-40 header-text text-center">
                <h1>Features that Made this Portal Unique</h1>
                <p class="mb-10 text-center">
                    Convenience, Performance, Dedication & Management
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-review">
                    <h4>One of Its Kind</h4>
                    <p>
                        No proper solution in terms of efficiency or performance is provided before hence it is best of its kind.
                    </p>
                    <div class="star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review">
                    <h4>Public Convenience</h4>
                    <p>
                        Public can lodge complaint easily just by registering and can track status of its complaints.
                    </p>
                    <div class="star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review">
                    <h4>
                        Designed for Local Bodies
                    </h4>
                    <p>
                        One of its core function is that it is designed for local bodies not at national level like citizen portal application
                    </p>
                    <div class="star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
